 @import "tailwindcss";
 @config "../tailwind.config.js";
 /* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Lato:wght@300;400;700&display=swap'); */


 /* @plugin './utils/hero.ts'; */
 /* @source '../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}'; */
 /* @custom-variant dark (&:is(.dark *)); */

 body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 @layer base {
  :root {
    --color-background: #daf7dcff;
    --color-foreground: #86bbd8ff;
    --text-color: #1e2a32ff;
    --color-primary: #9ee493ff;     
    --color-hover: #f59e0b;    
    --color-secondary: #f59e0b;
    
    /* font */
    --font-heading: 'Playfair Display', serif;
  --font-body: 'Lato', sans-serif;
  }

  .dark {
    --color-background: #0b0f2fff;   
    --color-foreground: #3a3a4fff;   
    --text-color: #edededff;
    --color-primary: #5c6bc0ff;    
    --color-hover: #fcd34d;    
    --color-secondary: #fcd34d;   
  }
  * {
    transition: background-color 0.4s ease, color 0.4s ease;
  }
}

@layer utilities {
  .bg-theme-gradient {
    background-image: linear-gradient(to right, var(--color-foreground), var(--color-primary));
  }
}

body {
  font-family: var(--font-body);
  /* font-size: 16px; */
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  /* font-weight: 600; */
}
 

